name: Check python code formatting

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]
  schedule:
    - cron: "0 5 * * *"

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    name: Check python code formatting
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          if [ -f test-requirements.txt ]; then pip install -r test-requirements.txt; fi
      - name: Analysing the code with pylint
        run: |
          python -m pylint denonavr tests
      - name: Lint with flake8
        run: |
          python -m flake8 denonavr tests --count --show-source --statistics
      - name: Check code formatting with isort
        run: |
          python -m isort denonavr/. tests/. --check --verbose
      - name: Check code formatting with black
        run: |
          python -m black denonavr tests --check --verbose
